<!-- <nav class="nav nav-tabs  navbar-expand navbar-dark bg-dark">
    <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="/presentation"> Présentation
        </a>
    </li>
    <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="/livres"> liste des livres </a></li>
    <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="/aboutus"> a propos de nous </a>
    </li>
</nav>
 -->


<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/presentation">Presentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/livres"> liste des livres </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/aboutus"> a propos de nous </a>
                </li>
            </ul>

        </div>
    </div>
</nav>